@model IEnumerable<Coffee.Bean>

@{
    ViewBag.Title = "Beans";
}




<header id="beans-header">
    <h2 id="brand">CLEVELAND COFFEE CO.</h2>
</header>
<div class="bean-background">
    <div class="bean-description-page">
        @foreach (var item in Model)
        {
            <div class="bean-info-box">
                <img class="bean-image" id="@item.Origin" src="~/Content/CoffeeBags/@item.ImageName" />
                <div class="bean-description">
                    <h2 class="bean-name">@item.Origin</h2>
                    <h4 class="bean-price">@item.Price.ToString("C") / lb.</h4>
                </div>
            </div><!--END BEAN-INFO-BOX-->
        }
        <div class="clear"></div>
    </div><!--END BEAN-DESCRIPTION-PAGE-->
</div><!--END BEAN-BACKGROUND-->




@*<table class="table bean-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Farm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variety)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flavor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Farm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variety)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flavor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
