@model IEnumerable<Coffee.Bean>

@{
    ViewBag.Title = "Beans";
}



<header id="beans-header">
    <a id="brand-link" href="@Url.Action("Index", "Home")"><h2 id="brand">CLEVELAND COFFEE CO.</h2></a>
    <div class="menu-links">
        <a id="beans-link" href="@Url.Action("MENU", "Home")"><h2 id="menu-beans">MENU</h2></a>
        <a id="people-link" href="@Url.Action("People", "Home")"><h2 id="menu-people">PEOPLE</h2></a>
    </div>
</header>
<div ng-app="" class="shopping-cart">
    
</div>
<div class="bean-background">
    <div class="bean-description-page">
        @foreach (var item in Model)
        {
            <div class="bean-info-box">
                <img class="bean-image" id="@item.Origin" src="~/Content/CoffeeBags/@item.ImageName" />
                <div class="bean-description">
                    <h2 class="bean-name">@item.Origin</h2>
                    <h5 class="bean-about hid">@item.Farm</h5>
                    <h5 class="bean-about hid">@item.Region</h5>
                    <h5 class="bean-about hid">@item.State</h5>
                    <h5 class="bean-about hid">@item.Roast</h5>
                    <h5 class="bean-about hid">@item.Flavor</h5>
                    <h5 class="bean-about hid">@item.Description</h5>
                    <h4 class="bean-price">@item.Price.ToString("C") / lb.</h4>
                </div><!--END BEAN-DESCRIPTION-->
            </div><!--END BEAN-INFO-BOX-->
        }
        <div class="clear"></div>
    </div><!--END BEAN-DESCRIPTION-PAGE-->
</div><!--END BEAN-BACKGROUND-->

